
/* =============================================================
   GENERAL STYLES
 ============================================================ */

 body {
  font-family: 'Open Sans', sans-serif;
  line-height:28px;
}

/* =============================================================
 NAVBAR & MENU STYLES
============================================================ */

.right-div {
  float: right; 
  /* padding: 20px; */
}



/* =============================================================
 DASHBOARD STYLES
============================================================ */

/* =============================================================
 FOOTER SECTION STYLES
============================================================ */

