
/* =============================================================
   GENERAL STYLES
 ============================================================ */

body {
    font-family: 'Open Sans', sans-serif;
    line-height:28px;
}

/* =============================================================
   NAVBAR & MENU STYLES
 ============================================================ */

.right-div {
    float: right; 
    /* padding: 20px; */
}

nav{
  border: 2px solid rgb(39, 32, 32);
  padding: 10px;
  background-color: rgb(3, 87, 90);
 
}
nav a{
  text-decoration: none;
  padding: 50px;
  color: aliceblue;
}


/* =============================================================
   DASHBOARD STYLES
 ============================================================ */

/* =============================================================
   FOOTER SECTION STYLES
 ============================================================ */

